@font-face {
  font-family: 'Atlas-Typewriter-Web-Regular';
  src: url('fonts/atlas_typewriter/atlas_typewriter_regular/Atlas-Typewriter-Web-Regular.eot') format('eot'),
  url('fonts/atlas_typewriter/atlas_typewriter_regular/Atlas-Typewriter-Web-Regular.woff') format('woff'),
  url('fonts/atlas_typewriter/atlas_typewriter_regular/Atlas-Typewriter-Web-Regular.ttf') format('truetype'),
  url('fonts/atlas_typewriter/atlas_typewriter_regular/Atlas-Typewriter-Web-Regular.svg') format('svg');
}

body {
  font-family: 'Atlas-Typewriter-Web-Regular', Arial, Helvetica, sans-serif !important;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Dropzone {
  background-color: #eee;
  transition: .3s all;
  cursor: pointer;
}

.Dropzone.active {
  background-color: #ddd;
}


.blinkers {
  animation: squareLoadingBlink 1s ease-in-out;
  -webkit-animation: squareLoadingBlink 1s ease-in-out infinite;  /* Saf3.2+, Chrome */
     -moz-animation: squareLoadingBlink 1s ease-in-out infinite; /* FF4+ */
      -ms-animation: squareLoadingBlink 1s ease-in-out infinite;  /* IE10 */
       -o-animation: squareLoadingBlink 1s ease-in-out infinite;  /* Opera 10.5+ */
}

@-moz-keyframes squareLoadingBlink /* Firefox */ {
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes squareLoadingBlink /* Safari and Chrome */ {
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes squareLoadingBlink /* Safari and Chrome */ {
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes squareLoadingBlink/* Safari and Chrome */ {
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}